
{{view App.BreadcrumbsView contentBinding="breadcrumbs" }}

<h1>{{eventName.name}}</h1>

<div>state: {{state}}</div>

<div>level: {{eventDetail.level}}</div>

<div>mapName: {{mapName.name}}</div>
<div>map_name: {{map.map_name}}</div>

{{#if mapFloor.isLoaded}}
  {{world-map map=map mapFloor=mapFloor}}
{{/if}}

