
{{view App.BreadcrumbsView contentBinding="breadcrumbs" }}

<h1>{{eventName.name}}</h1>

<div>breadcrumbWorld: {{breadcrumbWorld.name}}</div>

<div>breadcrumbMap: {{breadcrumbMap.name}}</div>

<div>state: {{state}}</div>

<div>level: {{eventDetail.level}}</div>
