
{{view App.BreadcrumbsView contentBinding="breadcrumbs" }}

<h1>{{eventName.name}}</h1>

<div>world: {{world.name}}</div>

<div>map: {{map.name}}</div>

<div>state: {{state}}</div>

<div>level: {{eventDetail.level}}</div>
