
{{view App.BreadcrumbsView contentBinding="breadcrumbs" }}

<h1>{{eventName.name}}</h1>

<div>breadcrumbWorld: {{breadcrumbWorld.name}}</div>

<div>breadcrumbMap: {{breadcrumbMap.name}}</div>

<div>state: {{state}}</div>

<div>level: {{eventDetail.level}}</div>

<div>mapName: {{mapName.name}}</div>
<div>map_name: {{map.map_name}}</div>

{{#if mapFloor.isLoaded}}
  {{view App.WorldMapView mapBinding=map mapFloorBinding=mapFloor}}
{{/if}}
