
{{view App.BreadcrumbsView contentBinding="breadcrumbs" }}

<h1>{{eventName.name}}</h1>

<div>breadcrumbWorld: {{breadcrumbWorld.name}}</div>

<div>breadcrumbMap: {{breadcrumbMap.name}}</div>

<div>state: {{state}}</div>

<div>level: {{eventDetail.level}}</div>

<div>mapName: {{mapName.name}}</div>
<div>map: {{map.map_name}}</div>

{{view App.WorldMapView continent_id=1 floor_id=1}}
